body{
    background-image: url("/static/images/table-BG.jpg");
}

#jumbotron {
    border-radius: 10px;
    backdrop-filter: blur(3px);
    margin-top: 35vh;
    color: white;
}

#myPic {
    border-radius: 50%;
}

#navBar, #getStartedBtn {
    background-color: #e0cca7;
}

#getStartedBtn:hover {
    background-color: #c9b08c;
}

#downloadCVBtn {
   font-weight: bold;
}