body {
    font-family: Arial, sans-serif;
    background-image: url("/static/images/table-BG.jpg");
}

details {
    margin: 20px;
}

summary {
    cursor: pointer;
}


#QnAContainer {
    width: 1000px;
}

#myPic {
    border-radius: 50%;
}

#navBar, #getStartedBtn {
    background-color: #e0cca7;
}

#getStartedBtn {
    font-family: fantasy;
    font-style: italic;
}

#getStartedBtn:hover {
    background-color: #c9b08c;
}

#downloadCVBtn {
    font-weight: bold;
}

#indexHeading, #aboutHeader {
    font-family: fantasy;
}

#aboutHeader {
    margin-top: 20px;
    margin-bottom: 30px;
}

.aboutSumm {
    font-weight: 600;
    font-style: italic;

}

.aboutPara {
    margin-top: 10px;
    margin-bottom: 30px;
    font-style: italic;
    font-weight: 600;
}

#indexPara {
    font-family: cursive;
}

